<div class="card-container">
<div class="card mb-3">
    <img class="card-img-top" src="../../assets/images/campera.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Campera</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card mb-3">
    <img class="card-img-top" src="../../assets/images/pantalon.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Pantalon</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card mb-3">
    <img class="card-img-top" src="../../assets/images/sueter.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Sueter</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card mb-3">
    <img class="card-img-top" src="../../assets/images/remera.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Remera</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
</div>
</div>